<h1><%= @country.name %></h1>
<%= image_tag(@country.image, alt: 'No image', width: 150) %>
<p>Size: <%= @country.size %> square km</p>
<p>Population: <%= @country.population %></p>
<p>Main Language: <%= @country.first_language %></p>
<p>National Symbol: <%= @country.national_symbol %></p>
<p>National Anthem: <%= @country.national_anthem %></p>